.datetime {
    position: relative;
    width: 100%;

    input[type="time"]::-webkit-calendar-picker-indicator{
        display: none;
    }
}

.content {
    position: absolute;
    top: calc(100% + 5px);
    width: 100%;
    background-color: white;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.174);
    border-radius: 3px;
    color: black;
    display: flex;
    flex-direction: column;
    max-height: 200px;
    overflow-y: auto;
    gap: 10px;
    padding: 5px;
    transition: .3s;
    animation: var(--show-top);

    ::-webkit-scrollbar-thumb {
        background-color: black;
    }

    span {
        width: 100%;
        text-align: center;
        cursor: pointer;
        &:hover {
            background-color: gainsboro;
        }
    }
}